* {
  box-sizing: border-box;
}

.container {
  border-radius: 5px;
  background-color: #ececec;
  padding: 20px;
}

input[type=text], textarea {
  width: 100%;
  padding:12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button {
  background-color: #2196f3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 190px;
}


